@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+TC:wght@400;600;900&family=Noto+Sans:wght@400;600;800&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #171717;
  overflow-x: hidden;
  scroll-behavior: smooth;
}